@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,600;1,600&display=swap');

*{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin: auto;
    scroll-behavior: smooth;
}


 /* Logo Flutuante API WhatsApp */
#logoWhatsApp{
    position: fixed;
    background-color: #25d366;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    cursor: pointer;
    z-index: 1000;
    transition: background-color .3s ease;
}

#logoWhatsApp ion-icon{
    color: white;
}



.larguraPadrao{
    margin: auto;
    width: 85%;
    max-width: 1600px;
}


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(14px);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.logo{
    width: 50px;
    height: auto;
    margin-left: 0px
}

.logo img{
    width: 100%;

}

a{
    text-decoration: none;
    cursor: pointer;
}

nav{
    margin-right: 0px;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}


main{
    background: linear-gradient(to bottom, #f5f9ff, #cce7ff);    
}

#ajustaBanner{
    height: 100vh;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}


.banner > span{
    color: #0025CC;
    background-color: #cce7ff;
    padding: 7px;
    border-radius: 30px;
}

.nomeOutraCor{
    color: #0025CC;
    font-size: 4rem;
}

.banner h1{
    font-size: 4rem;
}

.btnBanner{
    display: flex;
    gap: 30px;
}

#btnBanner01{
    color: white;
    background-color: blue;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#btnBaixaCurriculo{
    color: black;
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.linksContato{
    display: flex;
    gap: 10px;
}

.linksContato a{
    text-decoration: none;
    color: #0025CC;
}

ion-icon{
    font-size: 30px;
}

#projetos{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 60px 0px;
}

#projetos > div > h1 {
    font-size: 2.4rem;
}

#projetos >div > p{
    color: gray;
}

.gradeProjetos{
    display: flex;
    flex-wrap: wrap;
}

.cardProjeto{
    height: 360px;
    width: 31%;
    border: 1px solid #dcdfdd;
    border-radius: 24px;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.cardProjeto > img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.conteudoCardProjeto{
    padding: 15px;
}

.conteudoCardProjeto h1{
    font-size: 1.3rem;
    color: black;
}

.conteudoCardProjeto p{
    font-size: .875rem;
    color: gray;
    padding: 15px 0px;
}

.tecnologiasCardProjeto{
    /* display: flex; */
}

.tecnologiasCardProjeto span{
    font-size: 0.8rem;
    color: black;
    background-color: #e2e2e2;
    padding: 5px;
    border-radius: 15px;
    margin: 2px 0px;
}

.fundoSkills{
    background-color: #0F1729;
}

#skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 40px 0px;
    color: white;
}

#skills h1{
    font-size: 2.4rem;
}

.gradeSkills{
    display: flex;
    flex-wrap: wrap;
}

.gradeSkills div{
     width: 33.33%;   /* 3 por linha */
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gradeSkills img {
    max-width: 100px;
}
